.my-background {
    background-image: url(../assets/images/background/kimiNoNawaCity.jpg);
    height: 100vh;
    background-size: cover;
    padding: 0;
}

.nav-container {
    background-color: rgba(00, 00, 00, 1);
}

.intro {
    /* margin: auto;
    text-align: center;
    margin-top: 10%;
    margin-bottom: 10%; */
    height: 300px;
    display: flex;
    /* justify-content: end ;
    align-items: end; */
    margin: auto;
}

.title {
    font-size: 3rem;
    font-weight: 800;
    line-height: 1;
    text-shadow: 2px 2px 1px black;
    letter-spacing: 4px;
    margin: auto;
}

.carousel-inner img {
    height: 50vh;
    object-fit: cover;
}

.carousel-caption {
    text-shadow: 33px 13px 31px #333;
}

.carousel-title {
    text-shadow: 1px 1px 2px #000;
    text-shadow: 1px 1px 2px #000;
    font-size: 110%;
    color : #fff;
}


.horizontal-line {
    border: 7px solid black;
}

.background-trending {
    background-image: url(../assets/images/background/SkyLake.jpg);
    
}

.trending-row {
    background-color: rgba(00, 00, 00, .7);
}

.trending {
    height: 300px;
    display: flex;
    justify-content: end ;
    align-items: end;
}

.trending-text {

    height: 300px;
    display: flex;
    margin: auto;

    /* height: 50vh;
    font-size: 3.125rem;
    line-height: 1.1;
    margin-bottom: 0.5rem */

;
}

.content-trending-text {
    font-size: 3rem;
    font-weight: 800;
    line-height: 1;
    text-shadow: 2px 2px 1px black;
    letter-spacing: 4px;
    margin: auto;
    
}

.anime-list-bg {
    background-image: url(../assets/images/background/FlyIsland.jpg);
    background-size: cover;
    padding: 0;
    margin: 0;
}

.anime-list-title {
    background-color: rgba(00, 00, 00, .5);
}